@import '../styles/_variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $white;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  padding: 6px 12px;
}
